---
const {
  href,
  text,
  iconUrl,
  textColor,
  bgColor,
  iconBgColor,
  shadow,
  hoverEffect,
  transitionEffect,
  durationEffect,
  wIcon = "24px", // Valor por defecto si no se pasa
  hIcon = "24px",
} = Astro.props;
---

<a
  href={href}
  class={`flex items-center justify-between gap-4 pb-1 pl-5 pr-1 pt-1 rounded-full ${bgColor} ${textColor} font-semibold text-l ${shadow} ${hoverEffect} ${transitionEffect} ${durationEffect}`}
>
  <span>{text}</span>

  <div
    class={`w-12 h-12 flex items-center justify-center ${iconBgColor} rounded-full`}
  >
    <img
      src={iconUrl}
      alt="Icon"
      style={`width: ${wIcon}; height: ${hIcon};`}
      class="object-contain"
    />
  </div>
</a>
